ul {
  margin: 0;
  padding: 0;
}

li {
  background-color: #0b3954;
  color: white;
  cursor: pointer;
  padding: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 4px solid transparent;
}
li:hover {
  color: #c7dbe6;
  border-left: 4px solid #bfb1c1;
}
